@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");

* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', sans-serif;
}

body {
  background-color: #F1F5F9;
  margin: 0;
  padding: 10px;
}

main {
  display: flex;
  flex-direction: column;
  max-width: 450px;
  min-width: 330px;
  max-height: 89vh;
  margin: 20px auto;
  text-align: center;
  background-color: #fff;
  border-radius: 20px;
  padding: 25px;
  box-shadow: 4px 4px 12px #727272a6;
}

h1 {
  font-size: 36px;
  font-weight: 400;
  color: #EA6800;
}

.formGroup {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}

.inputGroup {
  display: flex;
  align-items: center;
  position: relative;
  width: 80%;
}

#inputClean {
  display: none;
  position: absolute;
  right: 5px;
  font-size: 22px;
  cursor: pointer;
  color: #aaa;
  padding: 10px;
}

input {
  background-color: #ea690011;
  padding: 15px;
  border: none;
  border-radius: 10px 0 0 10px;
  font-size: 18px;
  width: 100%;
}

::placeholder {
  color: #ea690085;
}

.add {
  cursor: pointer;
  position: relative;
  background-color: #EA6800;
  font-size: 18px;
  color: #EA6800;
  padding: 15px 22px;
  border: none;
  border-radius: 0 10px 10px 0;
  transition: all 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add:hover {
  background-color: #ff8706;
  color: #ff8706;
  transition: all 0.2s ease;
}

.bi-plus-circle {
  position: absolute;
  color: #ffffff;
  font-size: 25px;
}

.liste {
  overflow-y: auto;
  scrollbar-gutter: stable;
  padding-left: 8px;
}

.liste::-webkit-scrollbar {
  width: 8px;
}

.liste::-webkit-scrollbar-thumb {
  border-radius: 100px;
  border: 1px solid transparent;
  background-clip: content-box;
  background-color: #cacaca;
}

/* ----------------------------------------- */

ul {
  margin: 0;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  margin: 10px 0;
  border-radius: 10px;
  border-bottom: 1px solid #d8d8d8;
}

li:hover {
  background-color: #ea690011;
  color: black;
}

li .item {
  display: flex;
  align-items: center;
}

li .ok {
  text-decoration: line-through;
  color: #aaa;
  transition: all 0.3s ease;
}

li .title {
  display: flex;
  align-items: center;
  font-weight: 600;
  transition: all 0.3s ease;
}

li .date {
  font-size: 14px;
  color: #aaa;
}

li .bi {
  cursor: pointer;
  font-size: 22px;
  padding: 10px;
  color: #161616;
}

li .bi-x-lg {
  color: #a1a1a1;
}

li .bi-x-lg:hover {
  color: black;
}

.screen {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 600;
  padding: 0 15px 0 25px;
}

.tasks {
  display: flex;
  gap: 20px;
}

.clear {
  cursor: pointer;
  padding: 8px 15px;
  font-size: 16px;
  border-radius: 10px;
  border: 1px solid #fff;
  background-color: #ffffff;
  transition: all 0.3s ease;
}

.clear:hover {
  color: #EA6800;
  border: 1px solid #EA6800;
  transition: all 0.3s ease;
}

/* ----------------------------------------- */

@media only screen and (max-width: 420px) {
  main {
    margin: 10px auto;
    padding: 15px 10px;
  }

  h1 {
    font-size: 30px;
  }
}

@media only screen and (max-width: 400px) {
  li .date {
    display: none;
  }
}