@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");

* {
  box-sizing: border-box;
}

body {
  background-color: #F1F5F9;
  margin: 0;
  padding: 10px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  max-width: 450px;
  min-width: 375px;
  margin: 20px auto;
  text-align: center;
  background-color: #fff;
  /* background-color: #313653; */
  border-radius: 20px;
  padding: 25px;
  box-shadow: 4px 4px 12px #555555cc;
}

h1 {
  color: #636368;
  font-size: 36px;
  font-weight: 400;
  color: #EA6800;
  /* margin: 10px; */
}

input {
  /* background-color: #f7f7f7; */
  background-color: #F0F7FE;
  padding: 15px;
  border-radius: 10px 0 0 10px;
  font-size: 18px;
  width: 80%;
  border-width: 1px 0 1px 1px;
  border-color: #f7f7f7;
  border-style: solid;
  /* border: none; */
}

::placeholder {
  color: #aaa;
}

.add {
  padding: 16px 22px;
  font-size: 18px;
  cursor: pointer;
  border: none;
  width: max-content;
  border-radius: 0 10px 10px 0;
  margin: 10px 0;
  border-width: 1px 1px 1px 0;
  border-color: #aaa;
  /* border-style: solid; */
  position: relative;
  /* background-color: #F09A4D;
  color: #F09A4D; */
  background-color: #EA6800;
  color: #EA6800;
  
  transition: all 0.3s ease;
}
.add:hover{
  background-color: #E77700;
  color: #E77700;
  transition: all 0.3s ease;
}

.bi-plus-circle {
  position: absolute;
  top: 12px;
  right: 14px;
  color: #ffffff;
  font-size: 25px;
}

.liste {
  max-height: 500px;
  overflow-y: auto;
  scrollbar-gutter: stable;
  padding-left: 8px;
}

.liste::-webkit-scrollbar {
  width: 8px;
}

.liste::-webkit-scrollbar-thumb {
  border-radius: 100px;
  border: 1px solid transparent;
  background-clip: content-box;
  background-color: #b3b3b3;
}

ul {
  margin: 0;
  padding: 0;
}

.item {
  display: flex;
  gap: 10px;
  align-items: center;

}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  color: #161616;
  border-radius: 10px;
  padding: 0 12px;
  border-bottom: 1px solid #c5c5c5;
  margin: 1px 0;
  color: #EA6800;
}

li:hover {
  background-color: #F0F7FE;
}

li .bi {
  font-size: 22px;
  padding: 15px 0;
  cursor: pointer;
  color: #161616;
}

li .ok {
  text-decoration: line-through;
  color: #aaa;
}

li .title {
  display: flex;
  align-items: center;
  font-weight: 600;
}

li .date {
  color: #aaa;
  font-size: 14px;
}

li .bi-x-lg:hover {
  color: red;
}

.clear {
  padding: 10px 15px;
  font-size: 18px;
  border-radius: 10px;
  margin: 10px 0;
  border: 1px solid #fff;
  background-color: #ffffff;
  cursor: pointer;
  transition: all 0.3s ease;
}

.clear:hover {
  border: 1px solid #EC6B5D;
  color: #EC6B5D;
  transition: all 0.3s ease;
}